hardware/PCB/payload_controlboard/payload_controlboard-backups/payload_controlboard-2025-04-03_102716.zip
hardware/PCB/payload_controlboard/payload_controlboard-backups/payload_controlboard-2025-04-01_221053.zip
hardware/PCB/payload_controlboard/fp-info-cache
.DS_Store
.DS_Store
firmware/.DS_Store
.DS_Store
